@use 'variables' as v;

@mixin telefono{
    @media (min-width: v.$telefono){
        @content; // Permite inyectar codigo en bloque
    }
}
@mixin tablet{
    @media (min-width: v.$tablet){
        @content; // Permite inyectar codigo en bloque
    }
}
@mixin desktop{
    @media (min-width: v.$desktop){
        @content; // Permite inyectar codigo en bloque
    }
}
@mixin desktopXL{
    @media (min-width: v.$desktopXL){
        @content; // Permite inyectar codigo en bloque
    }
}

@mixin grid($columnas, $gap){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style-type: none;
}